@import "tailwindcss";

:root {
  --background: #dbdcd6;
  --black: #1f1f1d;
  --white: #ffffff;
  --main: #a1a29c;
}

@theme inline {
  --color-background: var(--background);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-main: var(--main);

  --font-main: var(--font-main);
  --font-secondary: var(--font-secondary);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #dbdcd6;
    --black: #1f1f1d;
    --white: #ffffff;
    --main: #a1a29c;
  }
}

body {
  background: var(--background);
  color: var(--black);
  font-family: var(--font-main);
}
